/**
 * Loading indicator
 *
 * @author Şakir Şensoy | sakirsensoy@gmail.com
 */
.indicator {

  min-height: 15px;
  position: absolute;
  top: 0; left: 0;
  opacity: 0.9;
  background-color: #fff;
}

.indicator .loading-pane .spinner {

    margin-top: 0;
    margin-bottom: 0;
}

.indicator-fullscreen-loader {

    position: fixed;
}
